
a{
    text-decoration: none;
    color: white;
}
.item a{
    color: white;
    padding: 10px;
 }
 .item a.activeLink{
    color:gold;
 }
 .avatarImg{
     width: 60px;
     height: 60px;     
     padding-top: 10px;
     padding-left: 1px;
     
 }